.negraLogo {
	height: 80%;
	margin-top: 0.515em;
}

.majoLarge {
	height: 100%;
	padding-top: 0.05em;
	margin-top: 0.05em;
}

.majoSmall {
	margin-top: 0.35em;
	height: 75%;
	margin-left: 0.5em;
}

.ig {
	height: 33%;
}
